VPN service name
service configuration name

# here will be configuration file.
# file must contain just two lines:
# ```
# VPN service name
# service configuration name
# ```
# writen exactly like in System Preferences.  everything else ignored.
#
# it is an error if file does not exist or service name is empty.  however,
# if second line is empty, `vpn-connect` would try to connect to the service's
# current configuration.
